# PostgreSQL
POSTGRES_USER=test_user
POSTGRES_PASSWORD=test_password
POSTGRES_DB=test_payments
DATABASE__DSN=postgresql+asyncpg://test_user:test_password@test-payment-db:5432/test_payments

# TaskIQ
TASK_BROKER__DSN=redis://127.0.0.1:6379/1

# RabbitMQ
RABBIT__HOST=127.0.0.1
RABBIT__PORT=5672
RABBIT__USERNAME=payments
RABBIT__PASSWORD=payments
RABBIT__VHOST=/

# Outbox worker
OUTBOX_WORKER__RUN=False
LOGGING_LEVEL=WARNING

# API
API_KEY=dev-api-key
